# Pastas desnecessárias
claude/
clients/
V0_to_V3/
reports
data copy/
mlflow/
mlruns/
*.db

# Environments
.env
venv/
ENV/

.joblib

# Python cache
**pycache**/
*.py[cod]
*$py.class

# Arquivos CSV em experiments (adicionado)
experiments/**/*.csv
*.csv
data_dev/

# Distribution / packaging
dist/
build/
*.egg-info/

# Notebooks
.ipynb_checkpoints

# Dados
data/

# Mac OS
.DS_Store

# MLflow
models/
params/
cache/

# Configurações locais
.vscode/
**/.claude/settings.local.json

inference/params/
inference/output/
scr/preprocessing/02_params/
scr/preprocessing/03_params/
scr/preprocessing/04_params/